{%extends 'core/base.html'%}
{%block content%}
<form action="" method="post"  class="container shadow container-whithe pt-2 pb-2" onsubmit="return validar_login();">
    {%if not request.user.is_authenticated %}
     <div class="row justify-content-center pt-5 pb-5">
     {% csrf_token %}
         <div class="col-12 text-center pt-5">
             <h3 class="m-4"><strong>Iniciar sesión</strong></h3>
         </div>

      {% if form.non_field_errors %}
         <!--ALERTS-->
         <div class="col-12 text-center col-sm-6">
             <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <h6><span class="icon-exclamation-triangle"></span> Usuario/contraseña incorrectos, intente de nuevo</h6>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         </div>
         <div class="w-100"></div>

         <!--FIN ALERTS-->
      {% endif %}

         {%if request.GET.msg == 'created_user'%}
         <div class="col-12 text-center col-sm-5">
             <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <h6 style="color: rgb(33, 95, 30);"><strong><span class="icon-android-star"></span> Usuario creado exitosamente</strong></h6>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
         </div>
         <div class="w-100"></div>
         {%endif%}

        <div class="col-12 col-sm-5 form-group">
            <input type="text" name="username" autofocus maxlength="254"  id="id_username" class="form-control" placeholder="Rut"
            {%if request.COOKIES.username%} value="{{request.COOKIES.username}}"{%endif%}>
            <div class="invalid-feedback">
                <p id="id_username-invalid" class="m-0"></p>
            </div>
            <div class="valid-feedback">
                <p id="id_username-valid" class="m-0">Correcto</p>
            </div>
        </div>
         <div class="w-100"></div>
         <div class="col-12 col-sm-5 form-group">
            <input type="password" name="password"  id="id_password" class="form-control" placeholder="Contraseña"/>
            <div class="invalid-feedback">
                <p id="id_password-invalid" class="m-0"></p>
            </div>
            <div class="valid-feedback">
                <p id="id_password-valid" class="m-0">Correcto</p>
            </div>
         </div>
        <div class="w-100"></div>
         <div class="col-12 col-sm-5 form-group m-4 pb-2">
            <input type="submit" class="btn btn-primary btn-block" value="Ingresar">
         </div>
         <div class="w-100"></div>
         <div class="col-12 col-sm-5 form-group m-4 pb-5 text-center">
             <p>Si no estas registrado, pincha <a href="{%url 'registration:registro'%}" class="badge badge-primary">aqui</a></p>
             <p>Si quieres recuperar tu contraseña, pincha <a href="{%url 'registration:seleccion_usuario'%}" class="badge badge-success">aqui</a></p>
         </div>
         <div class="col-12">
             <a href="{%url 'core:index'%}" class="btn btn-secondary">Volver al Inicio</a>
         </div>
    </div>
    {%else%}
    <div class="row">
        <div class="col-12 text-center p-5">
            <h3>Ya estas logeado, <a href="{%url 'core:index'%}">Haz click aqui para ir al index</a></h3>
        </div>
    </div>
    {%endif%}
</form>
{%endblock%}