{%extends 'core/base.html'%}
{%block title%}Mi perfil{%endblock%}
{%block content%}
<div class="container shadow container-whithe">
    <div class="row pt-5 pb-5">
        <div class="col-12 text-center">
            <h2>Bienvenid@ a <span class="TITULO">TuVegaApp</span></h2>
        </div>
    </div>
    <div class="row p-2 pb-4">
        <div class="col-12 col-md-3 pb-3">
            <h3 class="pb-3">Panel de {{request.session.tipo}}</h3>
            <div class="list-group">
                {%if request.session.tipo == 'cliente'%}
                    <a href="{%url 'cliente:panel_cliente' request.user.id%}"
                       class="list-group-item list-group-item-action active">Ir al panel de cliente</a>
                {%elif request.session.tipo == 'vendedor'%}
                    <a href="{%url 'vendedor:panel_de_vendedor' request.user.id%}"
                       class="list-group-item list-group-item-action active">Ir al panel de vendedor</a>
                {%elif request.session.tipo == 'administrador'%}
                    <a href="{%url 'admin:index'%}"
                       class="list-group-item list-group-item-action active">Ir al panel de admin</a>
                {%endif%}
            </div>
        </div>
        <div class="col-12 col-md-9 p-3 shadow rounded mb-3">
            <h3 class="pb-3">Mis datos</h3>
            <p><strong>Rut:</strong> {{perfil.username}}</p>
            <p><strong>Nombre:</strong> {{perfil.first_name}}</p>
            {%if request.session.tipo == 'vendedor'%}
            <p><strong>Email:</strong> {%if perfil.email|length != 0%}{{perfil.email}}{%else%}No tiene un email registrado aun{%endif%}</p>
            {%endif%}
            <p><strong>Fecha de Creación: </strong>{{perfil.date_joined}}</p>
            <p><strong>Fecha Actual:</strong> {%now "d/m/y"%}</p>

            <a href="{%url 'password_change' %}" class="btn btn-primary"><span class="icon-pencil"></span> Actualizar contraseña</a>
        </div>
    </div>
</div>
{%endblock%}
