{%extends 'core/base.html'%}
{%block title%}Contraseña actualizada{%endblock%}
{%block content%}
<div class="container shadow container-whithe">
    <div class="row pt-5">
        <div class="col-12 text-center pt-5 pb-5">
             <h2><img src="/media/core/success.jpg" width="200px" class="pr-3">  Contraseña cambiada con exito</h2>
        </div>
        <div class="col-12 p-4">
            <a href="{%url 'registration:mi_perfil' request.user.id%}" class="btn btn-secondary">Volver a mi Perfil</a>
        </div>
    </div>
</div>
{%endblock%}