{%extends 'core/base.html'%}
{%block title%}Actualizar contraseña{%endblock%}
{%block content%}
    <style>.errorlist{color:red; padding-left:20px;}</style>
    <form class="container shadow container-whithe" action="" method="POST">
        <div class="row justify-content-center">
            <div class="col-12 text-center pt-5 pb-5">
                <h2>Actualizar contraseña</h2>
            </div>

            {%csrf_token%}

            <div class="col-12 col-sm-5 form-group pb-1">
                <label for="id_old_password">Contraseña antigua:</label>
                <input type="password" name="old_password" autofocus required id="id_old_password" class="form-control mb-3" placeholder="Ingrese la antigua contraseña"/>
                    {{form.old_password.errors}}
            </div>
            <div class="w-100"></div>

            <div class="col-12 col-sm-5 form-group pb-2">
                <label for="id_new_password1">Contraseña nueva:</label>
                <input type="password" name="new_password1" autofocus required id="id_new_password1" class="form-control" placeholder="Ingrese la nueva contraseña"/>
                {{form.new_password1.errors}}
                <ul class="pt-3 pl-0">
                    <li style="list-style:none"><strong>Recuerde</strong></li>
                    <li style="list-style:none"><small><span class="icon-hand-o-right"></span> Su contraseña no puede asemejarse tanto a su otra información personal.</small></li>
                    <li style="list-style:none"><small><span class="icon-hand-o-right"></span> Su contraseña debe contener al menos 8 caracteres.</small></li>
                    <li style="list-style:none"><small><span class="icon-hand-o-right"></span> Su contraseña no puede ser una clave utilizada comunmente.</small></li>
                    <li style="list-style:none"><small><span class="icon-hand-o-right"></span> Su contraseña no puede ser completamente numérica.</small></li>
                </ul>
            </div>
            <div class="w-100"></div>

            <div class="col-12 col-sm-5 form-group pb-2">
                <label for="id_new_password2">Contraseña(confirmación)</label>
                <input type="password" name="new_password2" autofocus required id="id_new_password2" class="form-control" placeholder="Vuelva a ingresar la nueva contraseña"/>
                <small class="mb-3">Para verificar, introduzca de nuevo la contraseña nueva</small>
                {{form.new_password2.errors}}
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-sm-5 form-group m-4 pb-3">
                <input type="submit" class="btn btn-primary btn-block" value="Actualizar datos">
            </div>

            <div class="col-12 m-4">
                <a href="{%url 'registration:mi_perfil' request.user.id%}" class="btn btn-secondary "><span data-icon="x"></span> Volver</a>
            </div>
        </div>
    </form>
{%endblock%}