{%extends 'core/base.html'%}
{%block title%}Sin Permiso{%endblock%}
{%block content%}
<div class="container shadow container-whithe pt-2 pb-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 pt-5 pb-5 text-center">
            <h3>Lo siento, no tienes permiso para acceder a la sección que deseabas.</h3>
            <img src="/media/core/triste.webp" alt="alt_triste" width="150px">
        </div>
        <div class="col-12 pt-4 pb-4">
            <a href="{%url 'core:index'%}" class="btn btn-secondary"><span data-icon="x"></span> Volver al inicio</a>
        </div>
    </div>
</div>

{%endblock%}
