{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle%}
<style>
        @font-face {
        font-family: "Welbut";
        src: url(/static/core/fonts/Welbut.ttf) format("truetype");
        }
        @font-face {
        font-family: "Monserrat";
        src: url(/static/core/fonts/Monserrat.ttf) format("truetype");
        }

        #header{
        background-color: #2196f3;
        color: #fff;
        }

		#branding h1, #branding h1 a:link, #branding h1 a:visited{
		color:#fff;
		font-family: "Welbut";
		font-size:2rem;
		}

		.module h2, .module caption, .inline-group h2{
		background-color: #222;
		}

        h1{
        text-align: center;
        font-size:1.8rem;
        color:#222;
        }

        div.breadcrumbs{
        background:#222;
        }
</style>
{%endblock%}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">TuVegaApp</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
