{%extends 'core/base.html'%}
{%block title%}Eliminar {{producto.productos.nombre}}{%endblock%}
{%block content%}
<div class="container shadow container-whithe">

    <div class="row justify-content-center">
        <div class="col-12 text-center p-5">
            <h3><strong>Quieres eliminar {{producto.productos.nombre}}?</strong></h3>
        </div>

        <img src="/media/core/papelera.webp" alt="simbolo_eliminar" width="200px">

        <form action="" method="POST" class="col-12 text-center mb-5 mt-4">
            {%csrf_token%}
            <input type="submit" class="btn btn-danger" value="Si quiero eliminarlo de esta lista">
        </form>

        <div class="col-12 mt-5 mb-5">
            <a href="{%url 'cliente:detalle_listas' id_lista%}" class="btn btn-secondary"><span data-icon="x"></span> Regresar a la lista</a>
        </div>
    </div>
</div>
{%endblock%}

