{%extends 'core/base.html'%}
{%block title%}Listado de productos{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/media/cliente/Productos.webp" alt="alt_productos" class="img-fluid">
        </div>
    </div>
</div>
<div class="container container-whithe shadow">
    <div class="row">
        <!--TITULO-->
        <div class="col-12 text-center pt-4 pb-4">
            <h2>Seccion de Productos</h2>
            <p><em>Aqui encontraras todo tipo de productos</em></p>
            <hr>
        </div>
        <!--FIN TITULO-->
    </div>

    <div class="row pb-2 justify-content-center">
        <!--SECCION DE BUSCADORES-->
        <form action="" method="GET" class="col-6 col-md-4" onsubmit="return validar_buscar();">
            {%csrf_token%}
            <label for="buscar_producto">Buscador</label>
            <input type="text" name="buscar" class="form-control" placeholder="ejem. arroz aruba" id="buscar_producto">
             <div class="invalid-feedback">
                <p id="buscar_producto-invalid" class="m-0"></p>
            </div>
            <input type="submit" value="Buscar producto" class="btn btn-secondary mt-2">
        </form>

        <form action="" method="GET" class="col-6 col-md-4" onsubmit="return validar_categoria();">
            {%csrf_token%}
            <label for="id_categoria">Categorias</label>
            {{form_categoria.categoria}}
            <div class="invalid-feedback">
                <p id="id_categoria-invalid" class="m-0"></p>
            </div>
            <input type="submit" value="Filtrar por cat." class="btn btn-secondary mt-2">
        </form>

        <div class="col-12 col-md-4 mt-4 mt-md-4 text-center">
            <a href="{%url 'cliente:listar_productos'%}?filtro=ofertas" class="btn btn-success mr-2"><span class="icon-child"></span> Ofertas</a>
            <a href="{%url 'cliente:listar_productos'%}" class="btn btn-primary ml-2"><span class="icon-apple"></span> Productos</a>
        </div>
        <!--FIN SECCION DE BUSCADORES-->
    </div>

    {%if productos%}
    <!--PRODUCTOS-->
    <div class="row pb-5 justify-content-center">
        <div class="card-columns p-3 col-10 col-md-12">
        <!--PRODUCTO NORMAL-->
        {%for producto in productos%}
                <div class="card mt-2">
                    {%if producto.oferta%}
                    <!--CARD HEADER-->
                        <div class="card-header p-2 bg-rojo">
                            <p class="m-0"><strong style="color:#fff;"><span class="icon-tag-2"></span> Oferta!</strong></p>
                        </div>
                    <!--FIN HEADER-->
                    {%endif%}
                    <a href="{%url 'cliente:detalle_productos' producto.id%}"><img class="card-img-top img-fluid" alt="alt_producto_imagen" src="/media/{{producto.imagen}}" width="200px;">
                    </a>
                    <!--CAR BODY-->
                      <div class="card-body text-center p-1">
                        {%for local in locales%}
                          {%if local.user == producto.user%}
                            <p class="text-muted m-0 font-cuerpo">{{local.nombre_local}}</p>
                          {%endif%}
                        {%endfor%}
                        <P class="card-title m-1 font-titulo"><strong>{{producto.nombre}}</strong></P>
                        {%if producto.oferta%}<p class="m-0 font-cuerpo color-rojo">Precio Oferta!
                        {%else%}<p class="m-0 font-cuerpo">Precio por {{producto.unidad_medida}}{%endif%}</p>
                        {%if producto.oferta%}<p class="card-text m-0 font-precio color-rojo"><strong>$ {{producto.precio_oferta}}
                        {%else%}<p class="card-text m-0 font-precio"><strong>$ {{producto.precio}}{%endif%}</strong></p>
                        {%if producto.oferta%}<p class="m-0 font-cuerpo">antes ${{producto.precio}}</p>{%endif%}
                        <p class="text-muted m-0 font-cuerpo">stock {{producto.stock}} {{producto.unidad_medida.medida_plural}}</p>
                      </div>
                     <!--FIN BODY-->
                  <!--FOOTER-->
                      <div class="card-footer">
                        <div class="text-center">
                            <a href="{%url 'cliente:detalle_productos' producto.id%}"><button class="btn btn-info btn-sm"><span class="icon-hand-o-right"></span> Ver mas</button></a>
                        </div>
                      </div>
                  <!--FIN FOOTER-->
                </div>
                <!--FIN CARD-->
            <!--FIN PRODUCTO-->
        {%endfor%}
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-4">
             <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  {% if productos.has_previous %}
                    <li class="page-item ">
                        {%if '?filtro=ofertas' in request.get_full_path%}
                        <a class="page-link" href="{{request.path}}?filtro=ofertas&page={{productos.previous_page_number }}">&laquo;</a>
                        {%else%}
                        <a class="page-link" href="?page={{ productos.previous_page_number }}">&laquo;</a>
                        {%endif%}
                    </li>
                  {% endif %}
                  {% for i in productos.paginator.page_range %}
                    <li class="page-item {% if productos.number == i %}active{% endif %}">
                        {%if '?filtro=ofertas' in request.get_full_path%}
                        <a class="page-link" href="{{request.path}}?filtro=ofertas&page={{ i }}">{{ i }}</a>
                        {%else%}
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        {%endif%}
                    </li>
                  {% endfor %}
                  {% if productos.has_next %}
                    <li class="page-item ">
                      {%if '?filtro=ofertas' in request.get_full_path%}
                      <a class="page-link" href="{{request.path}}?filtro=ofertas&page={{ productos.next_page_number }}">&raquo;</a>
                      {%else%}
                      <a class="page-link" href="?page={{ productos.next_page_number }}">&raquo;</a>
                      {%endif%}
                    </li>
                  {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {%else%}
    <div class="row justify-content-center">
        <!--MENSAJE SI NO HAY PRODUCTOS-->
        <div class="col-12 pt-5 text-center">
            <h3>No se encuentran productos disponibles para el filtro que utilizo.</h3>
        </div>
        <div class="col-6 col-md-2 pb-5">
            <img src="/media/core/triste.webp" alt="Triste por no encontrar productos" class="img-fluid">
        </div>
        <!--MENSAJE SI NO HAY PRODUCTOS-->
    </div>
    {%endif%}
    <!--FIN PRODUCTOS-->
</div>
{%endblock%}