{%extends 'core/base.html'%}
{%block title%}Panel de Clientes{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/media/cliente/panel_clientes.webp" alt="alt_panel_cliente" class="img-fluid">
        </div>
    </div>
</div>
<div class="container container-whithe shadow">
    <div class="row pb-4">
        <!--TITULO-->
        <div class="col-12 text-center pt-4 pb-4">
            <h2>Bienvenido al Panel de Clientes de TuVegaApp</h2>
            <p><em>Aqui podras encontrar todo lo necesario para facilitarte tu compra</em></p>
            <hr>
        </div>
        <!--FIN TITULO-->

        <!--BARRA IZQUIERA-->
        <div class="col-12 col-lg-3 pb-5">
            <!--BARRA IZQUIERA XL-->
            <h3 class="text-center pb-3 d-none d-lg-block">Menu</h3>
            <h3 class="text-center pb-3 d-lg-none">Hola {{cliente.first_name}}, que tal?</h3>
            <div class="list-group d-none d-lg-block">
              <a href="{%url 'cliente:panel_cliente' request.user.id %}" class="list-group-item list-group-item-action active">Panel del Cliente</a>
              <a href="{%url 'cliente:listar_productos'%}" class="list-group-item list-group-item-action">Productos</a>
              <a href="{%url 'cliente:mis_listas' request.user.id%}" class="list-group-item list-group-item-action">Mis Listas</a>
              <a href="{%url 'cliente:reportes' request.user.id%}" class="list-group-item list-group-item-action">Mis Reportes</a>
            </div>
            <!--FIN BARRA IZQUIERA XL-->

            <!--BARRA IZQUIERA COLLAPSADA-->
            <a class="btn btn-primary d-block d-lg-none" data-toggle="collapse" href="#collapsemenu" role="button" aria-expanded="false" aria-controls="collapseExample">
                Panel del Cliente  <span class="icon-angle-double-down"></span>
            </a>
            <div class="collapse list-group" id="collapsemenu">
              <a href="{%url 'cliente:listar_productos'%}" class="list-group-item list-group-item-action d-block d-lg-none">Productos</a>
              <a href="{%url 'cliente:mis_listas' request.user.id%}" class="list-group-item list-group-item-action d-block d-lg-none">Mis Listas</a>
              <a href="{%url 'cliente:reportes' request.user.id%}" class="list-group-item list-group-item-action d-block d-lg-none">Mis Reportes</a>
            </div>
            <!--FIN BARRA IZQUIERA COLLAPSADA-->
        </div>
        <!--FIN BARRA IZQUIERDA-->
        <!--MENU-->
        <div CLASS="col-12 col-md-9 pb-3">
            <h3 class="text-center pb-3 d-none d-lg-block">Hola {{cliente.first_name}}, que tal?</h3>
            <h5 class="pb-3"><strong>Tus puntos en diferentes tiendas</strong></h5>
            {%if puntos%}
            {%for x in puntos%}
            <p>Tienda {{x.local.nombre_local}} tienes <strong class="badge badge-info">{{x.puntos}} puntos</strong>, actualmente eres
                {%if x.tipo_cuenta == 'Plata'%}
                <span style="color:#C0C0C0"><strong>{{x.tipo_cuenta}}</strong></span>
                {%elif x.tipo_cuenta == 'Oro'%}
                <span style="color:#D4AF37"><strong>{{x.tipo_cuenta}}</strong></span>
                {%elif x.tipo_cuenta == 'Diamante'%}
                <span style="color:#B9F2FF"><strong>{{x.tipo_cuenta}}</strong></span>
                {%endif%}
                , ve a ver tus beneficios <a href="{%url 'cliente:detalle_locales' x.local.user.id%}"><span class="badge badge-success">Ir a la tienda</span></a></p>
            {%endfor%}
            {%else%}
            <p>Actualmente no tienes puntos en ningun local asociado, ve a comprar algo para sumar puntos!</p>
            {%endif%}
            <hr>
            <h5 class="pb-3"><strong>Tiendas con ofertas generales</strong></h5>
            {%for oferta in oferta_general%}
                <p>
                    <img alt="alt_imagen_muestra" src="{{oferta.local.imagen_muestra.url}}" width="50px" height="50px" class="rounded-circle">
                     {{oferta.local.nombre_local}} <a href="{%url 'cliente:detalle_locales' oferta.local.user.id%}"><span class="badge badge-success">Ir a la tienda</span></a></p>
                <p><strong><span class="icon-android-star"> </span> {{oferta.oferta}}.</strong></p>
            {%endfor%}
        </div>
        <!--MENU-->
    </div>
</div>

{%endblock%}