{%extends 'core/base.html'%}
{%block title%}Mi Tienda{%endblock%}
{%block content%}
<div class="container container-whithe shadow">
    <div class="row pb-4 justify-content-center">
        <!--TITULO-->
        <div class="col-12 text-center pt-5 pb-4">
            <h2>Actualiza tu tienda a tu gusto!</h2>
            <hr>
        </div>
        <!--FIN TITULO-->
        <!--ALERTS-->
        <div class="col-12 text-center">
            {%if request.GET.msg == 'act_error'%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><span class="icon-exclamation-triangle"></span> No se pudo actualizar la tienda, intentelo otra vez.</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endif%}
        </div>
        <!--FIN ALERTS-->
    </div>

    <!--CONTENIDO-->
    <form action="" class="row justify-content-center" method="POST" onsubmit="return validar_actualizacion_local()" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.user}}
        <div class="col-12">
            <p><strong>Banner actual: </strong></p>
            <img src="/media/{{form.imagen_banner.value}}" class="rounded mb-3 img-fluid">
            <p><strong>Recomendaciones para la imagen, 1920x300</strong></p>
            <br>
        </div>
        <div class="col-12 col-sm-6 form-group pb-3">
            {{form.imagen_banner}}
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 form-group">
            {{form.nombre_local.label}}
            {{form.nombre_local}}
            <div class="invalid-feedback">
                <p id="id_nombre_local-invalid" class="m-0"></p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 form-group">
            {{form.ubicacion_local.label}}
            {{form.ubicacion_local}}
            <div class="invalid-feedback">
                <p id="id_ubicacion_local-invalid" class="m-0"></p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 form-group pb-3">
            <p><strong>Imagen actual: </strong></p>
            <img src="/media/{{form.imagen_muestra.value}}" class="rounded mb-3" style="max-width: 200px;">
            <br>
            {{form.imagen_muestra}}
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-primary"><span></span>Actualizar</button>
        </div>
    </form>

    <div class="row">
        <div class="col-12 m-4">
            <a href="{%url 'vendedor:mi_tienda' request.user.id%}" class="btn btn-secondary "><span data-icon="x"></span> Volver</a>
        </div>
    </div>
        <!--FIN CONTENIDO-->
    </div>
</div>
{%endblock%}

