{%extends 'core/base.html'%}
{%block title%}Agregar Oferta{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/media/vendedor/Mis_ofertas.webp" alt="alt_mis_ofertas" class="img-fluid">
        </div>
    </div>
</div>
<div class="container container-whithe shadow">
    <!--TITULO-->
    <div class="row pb-4 justify-content-center">
        <div class="col-12 text-center pt-3">
            <h2>Agregar una oferta al local</h2>
            <p>Aqui puedes agregar <strong>ofertas para que captes mas publico</strong>, recuerda que puedes crear ofertas ahora y activarlas mas tarde.</p>
            <hr>
        </div>
         <!--ALERTS-->
        <div class="col-12 text-center">
            {%if request.GET.msg == 'form_error'%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span class="icon-exclamation-triangle"></span> No se pudo agregar la oferta, intentelo otra vez.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%elif request.GET.msg == 'general_error'%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span class="icon-exclamation-triangle"></span> No se pudo agregar la oferta, intentelo otra vez.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%elif request.GET.msg == 'premium_error'%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span class="icon-exclamation-triangle"></span> No se pudo agregar la oferta, intentelo otra vez.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endif%}
        </div>
        <!--FIN ALERTS-->
    </div>
    <!--FIN TITULO-->
    <!--CONTENIDO-->
    <form action="" class="row justify-content-center" onsubmit="return validar_agregar_ofertas()" method="POST">
        {%csrf_token%}
        <input type="hidden" value="{{local.id}}" id="local_id" name="local">
        <div class="col-12 col-md-6 form-group">
            <label>Oferta a mostrar</label>
            {{form.oferta}}
            <div class="invalid-feedback">
                <p id="id_oferta-invalid" class="m-0"></p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 form-group">
            <label>Tipo de oferta</label>
            <select name="tipo_oferta" class="form-control" id="id_tipo_oferta">
              <option value="" selected="">---------</option>
              {%if tipo.tipo_premium != 0%}
              <option value="general">Oferta General</option>

              <option value="temporada">Oferta de Temporada</option>
              {%endif%}
              <option value="rango_plata">Oferta para clientes de rango plata</option>

              <option value="rango_oro">Oferta para clientes de rango oro</option>

              <option value="rango_diamante">Oferta para clientes de rango diamante</option>

              <option value="convencional">Oferta Convencional</option>
            </select>
            <div class="invalid-feedback">
                <p id="id_tipo_oferta-invalid" class="m-0"></p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 form-group">
            <label>Oferta activada?</label>
            {{form.activado}}
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 text-center pb-5">
            <button type="submit" value="Agregar Oferta" class="btn btn-success"><span data-icon="v"></span> Agregar Oferta</button>
        </div>
        <div class="col-12 m-4">
            <a href="{%url 'vendedor:mis_ofertas' request.user.id%}" class="btn btn-secondary "><span data-icon="x"></span> Volver</a>
        </div>
    </form>
        <!--FIN CONTENIDO-->
</div>
{%endblock%}

