{%extends 'core/base.html'%}
{%block title%}Pedido x{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/media/vendedor/mis pedidos.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="container container-whithe shadow">
    <div class="row pb-4 justify-content-center">
        <!--TITULO-->
        <div class="col-12 text-center pt-5 pb-4">
            <h2>Lista n° x</h2>
            <p><em>nombre lista</em></p>
            <hr>
        </div>
        <!--FIN TITULO-->
        <a href="{%url 'vendedor:revisar_mis_pedidos' request.user.id%}" class="btn btn-info">Revisar un pedido</a>
        <!--CONTENIDO-->
        <div class="col-12 text-center pb-3">
            <h2>Sitio en desarrollo.</h2>
        </div>
        <div class="col-md-4 col-12">
            <img src="/media/core/trabajando.gif" alt="" class="img-fluid">
        </div>

        <div class="col-12 m-4">
            <a href="{%url 'vendedor:panel_de_vendedor' request.user.id%}" class="btn btn-secondary "><span data-icon="x"></span> Volver</a>
        </div>
        <!--FIN CONTENIDO-->
    </div>
</div>
{%endblock%}

