{%extends 'core/base.html'%}
{%block title%}Eliminar Oferta{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/media/vendedor/Mis_ofertas.webp" alt="alt_mis_ofertas" class="img-fluid">
        </div>
    </div>
</div>
<div class="container container-whithe shadow-sm">
    <div class="row pt-3 pb-3">
        <div class="col-12 pb-3 text-center">
            <h2>¿Estás seguro de querer eliminar esta oferta?</h2>
            <p><em>Recuerda que al eliminar una oferta, no se podrá recuperar, también puedes desactivarla.</em></p>
            <hr>

            <img src="/media/core/papelera.webp" alt="simbolo_eliminar" width="200px">
            {%if request.GET.msg == 'elim_error'%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span class="icon-exclamation-triangle"></span> No se pudo eliminar el producto, inténtelo otra vez.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endif%}

        </div>

        <div class="col-12 text-center pb-5">
            <form method="POST">
                {%csrf_token%}
                <button type="submit" class="btn btn-danger"><span class="icon-trash-b"> Si, lo quiero borrar de todos modos</span></button>
            </form>
        </div>

        <div class="col-12 m-4">
            <a href="{%url 'vendedor:mis_ofertas' request.user.id%}" class="btn btn-secondary "><span data-icon="x"></span> Volver</a>
        </div>
    </div>

</div>
{%endblock%}
