{%extends 'core/base.html'%}
{%block title%}Mi Tienda{%endblock%}
{%block content%}
<div class="container container-whithe shadow">
    <div class="row pb-4 justify-content-center">
        <!--TITULO-->
        <div class="col-12 text-center pt-3 pb-3">
            <h2>Bienvenido a la sección dedicada a tu tienda</h2>
            <p><em>Aquí podrás administrar todo lo relacionado con la información de tu tienda.</em></p>
            <hr>
        </div>
        <!--FIN TITULO-->
        <!--ALERTS-->
        <div class="col-12 text-center">
            {%if request.GET.msg == 'act_ok'%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong><span class="icon-angellist"></span> Tienda actualizada correctamente.</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endif%}
        </div>
        <!--FIN ALERTS-->
        <!--BOTON-->
        <div class="col-12 pb-3">
            <a href="{%url 'vendedor:actualizar_mi_tienda' request.user.id%}" class="btn-info btn">Actualizar mi tienda!</a>
            {%if local.activado%}
            <a href="{%url 'cliente:detalle_locales' request.user.id%}" class="btn btn-primary">Mi tienda</a>
            {%endif%}
        </div>
        <!--FIN BOTON-->

        <!--CONTENIDO-->
        <div class="col-12 pb-5">
            <p class="h4">Imagen de banner</p>
            {%if local.imagen_banner%}
                <img src="/media/{{local.imagen_banner}}" alt="alt_imagen_banner" class="img-fluid">
            {%endif%}
        </div>

        <div class="col-12 col-md-4 text-center">
            <p class="h4">Imagen de muestra</p>
            {%if local.imagen_muestra%}
                <img src="/media/{{local.imagen_muestra}}" alt="alt_imagen_muestra" width="200px" class="rounded">
            {%else%}
                <img src="/media/core/sin_imagen.webp" alt="alt_sin_imagen_muestra" width="200px">
            {%endif%}
        </div>

        <div class="col-12 col-md-8">
            <p class="h5">Nombre del local</p>
            <p class="h6 pb-2">{{local.nombre_local}}</p>
            <p class="h5">Ubicación del local</p>
            <p class="h6 pb-2">{{local.ubicacion_local}}</p>
            <p class="h5">El local está activo actualmente?</p>
            {%if local.activado%}
            <p class="h6">Si</p>
            {%else%}
            <p class="h6">No</p>
            {%endif%}
        </div>

        <div class="col-12 m-4">
            <a href="{%url 'vendedor:panel_de_vendedor' request.user.id%}" class="btn btn-secondary "><span data-icon="x"></span> Volver</a>
        </div>
        <!--FIN CONTENIDO-->
    </div>
</div>
{%endblock%}
