{%extends 'core/base.html'%}
{%block title%}Panel de Vendedores{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/media/vendedor/panel_vendedores.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="container container-whithe shadow">
    <div class="row pb-4">
        <!--TITULO-->
        <div class="col-12 text-center pt-5 pb-4">
            <h2>Bienvenido al Panel de Vendedores de TuVegaApp</h2>
            <p><em>Aqui podras administrar todo lo relacionado con tu local</em></p>
            <hr>
        </div>
        <!--FIN TITULO-->

        <!--BARRA IZQUIERA-->
        <div class="col-12 col-lg-3 pb-3">
            <!--BARRA IZQUIERA XL-->
            <h3 class="text-center pb-3">Menu</h3>
            <div class="list-group d-none d-lg-block">
              <a href="{%url 'vendedor:panel_de_vendedor' request.user.id%}" class="list-group-item list-group-item-action active">Panel del Vendedor</a>
              <a href="{%url 'vendedor:mi_tienda' request.user.id%}" class="list-group-item list-group-item-action">Mi tienda</a>
              <a href="{%url 'vendedor:listar_productos' request.user.id%}" class="list-group-item list-group-item-action">Mis productos</a>
              <a href="{%url 'vendedor:mis_pedidos' request.user.id%}" class="list-group-item list-group-item-action">Mis pedidos</a>
              <a href="{%url 'vendedor:mis_ofertas' request.user.id%}" class="list-group-item list-group-item-action">Mis ofertas</a>
            </div>
            <!--FIN BARRA IZQUIERA XL-->

            <!--BARRA IZQUIERA COLLAPSADA-->
            <a class="btn btn-primary d-block d-lg-none" data-toggle="collapse" href="#collapsemenu" role="button" aria-expanded="false" aria-controls="collapseExample">
                Panel del Vendedor  <span class="icon-angle-double-down"></span>
            </a>
            <div class="collapse list-group" id="collapsemenu">
              <a href="{%url 'vendedor:mi_tienda' request.user.id%}" class="list-group-item list-group-item-action d-block d-lg-none">Mi tienda</a>
              <a href="{%url 'vendedor:listar_productos' request.user.id%}" class="list-group-item list-group-item-action d-block d-lg-none">Mis productos</a>
              <a href="#" class="list-group-item list-group-item-action d-block d-lg-none">Mis pedidos</a>
              <a href="#" class="list-group-item list-group-item-action d-block d-lg-none">Mis ofertas</a>
            </div>
            <!--FIN BARRA IZQUIERA COLLAPSADA-->
        </div>
        <!--FIN BARRA IZQUIERDA-->
        <!--MENU-->
        <div CLASS="col-12 col-lg-9 pb-3">
            <h3 class="text-center pb-3">Hola {{vendedor.nombre_local}}!</h3>
            <!--SECCION DE ALERTAS-->
            <p><strong>Tienes Pendiente</strong></p>
            {%if prod.prod_sin_stock != 0%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><span class="icon-exclamation-triangle"></span> Tienes {{prod.prod_sin_stock}} productos sin stock</strong> ve a hecharles una mirada
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endif%}

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><span class="icon-exclamation-triangle"></span> Tienes x listas pendientes</strong> ve a prepararlas!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong><span class="icon-bell"></span> Tienes x productos con menos 25% de stock</strong> ve a hecharles una mirada
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong><span class="icon-angellist"></span> Estas al dia con tus labores</strong>, ve a tomarte un descanso, te lo mereces!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!--FIN SECCION DE ALERTAS-->
            <hr>
            <p><strong>Productos</strong></p>

            <p>Tienes <strong>{{prod.prod_total}} productos en stock</strong></p>

            <p class="m-0">Tienes <span class="badge badge-success">{{prod.prod_vigentes}}</span> productos vigentes</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                   aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{prod.prod_vigentes_por}}%"></div>
            </div>
            <br>
            <p class="m-0">Tienes <span class="badge badge-danger">{{prod.prod_sin_stock}}</span> productos sin stock</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                   aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{prod.prod_sin_stock_por}}%"></div>
            </div>
            <br>
            <p class="m-0">Tienes <span class="badge badge-warning">{{prod.prod_desactivados}}</span> productos desactivados</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                   aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{prod.prod_desactivados_por}}%"></div>
            </div>
            <hr>
            <p><strong>Ofertas vigentes en tu tienda</strong></p>
            <p>Ofertas</p>
            <hr>
            <p><strong>x personas han comprado en tu local</strong></p>
            <p>Lista de personas de menos a mayor en puntos</p>
        </div>
        <!--MENU-->
    </div>
</div>
{%endblock%}

