<!--FOOTER-->
<footer class="container-fluid pr-0 pl-0">
   <div class="container">
      <div class="row">
         <!--DIRECCION Y CONTACTO-->
         <div class="col-12 col-sm-4 mt-4 mb-3 text-center ">
            <h4 class="TITULO">TuVegaApp</h4>
            <hr>
            <h6 data-icon="h"> Dirección</h6>
            <p>Jose Miguel Carrera 1997, Macul.</p>
            <hr>
            <h6 data-icon="a"> Contacto</h6>
            <p>+5691237671</p>
            <hr>
            <h6 data-icon="c"> Email de contacto</h6>
            <p>oavr.18@gmail.com</p>

            <!--BOTON EDITAR-->
            {%if request.session.tipo == 'Administrador' and footer is not None%}
               <div class="col-12 mb-3">
                  <a href="" class="btn btn-info">Editar Footer</a>
               </div>
            {%elif request.session.tipo == 'Administrador' and footer is None%}
               <div class="col-12 mb-3">
                  <a href="" class="btn btn-info">Editar Footer</a>
               </div>
            {%endif%}
            <!--FIN DE BOTON EDITAR-->

         </div>
         <!--REDES SOCIALES-->
         <div class="col-12 col-sm-4 mt-4 mb-4 text-center">
            <h5>Nuestras Redes Sociales</h5>
            <hr>

            <ul class="lista">
            <li><a href="#"><h4 data-icon="j" class="face"></h4></a></li>
            <li><a href="#"><h4 data-icon="k" class="instagram"></h4></a></li>
            <li><a href="#"><h4 data-icon="l" class="twitter"></h4></a></li>
            <li><a href="#"><h4 data-icon="m" class="twitch"></h4></a></li>
            <li><a href="#"><h4 data-icon="n" class="youtube"></h4></a></li>
            </ul>

            <hr>
            <!--MAPA GOOGLEMAPS-->
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.321461396023!2d-70.61427678426388!3d-33.493012607085255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0057adcb637%3A0xe27be8ab6ecb4a16!2sJos%C3%A9+Miguel+Carrera+1997%2C+Macul%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1550372726086" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>-->
         </div>
         <!--SOBRE LA EMPRESA-->
         <div class="col-12 col-sm-4 mt-4 mb-4 text-center">
            <h4>Categorías de Productos</h4>
            <hr>
            {%if Categorias %}
               {%for cat in Categorias%}
               <a href="{%url 'cliente:listar_productos'%}?categoria={{cat.id}}" class="CATEGORIAS_FOOTER">{{cat.categoria}}</a> |
               {%endfor%}
            {%else%}
            <h5>No se encuentran Categorías disponibles</h5>
            {%endif%}
         </div>
      </div>
   </div>
   <div class="container-fluid" style="background: black;">
      <div class="row">
         <div class="col-12 text-center">
            <h6 class="m-1">&copy; 2019 Todos los derechos reservados. TuVegaApp S. A</h6>
         </div>
      </div>
   </div>
</footer>
