		/*------------------------------Fuente------------------------------*/
		@font-face {
        font-family: "Welbut";
        src: url(/static/core/fonts/Welbut.ttf) format("truetype");
        }

		/*------------------------------Fuente------------------------------*/


		/*------------------------------TOP------------------------------*/

		
		.BACKGROUND-TOP{
			background-color: #222;
		}
		
		.top-a{
			transition: all 0.5s;
		}

		.top-a:hover{
			color:#5A90BC;
		}

		/*------------------------------END TOP------------------------------*/
		

		/*------------------------------NAVBAR------------------------------*/
		.TITULO{
		font-family: "Welbut";
		font-size:2rem;
		}

		.barra_navbar{
			background-color:#2196f3;
		}

		.LOGIN{
			color: #fff;
			transition: all 0.5s;
		}

		.LOGUEADO{
		    font-size: 1.2rem;
		}
		
		.LOGIN:hover{
			text-decoration: none;
			color: #3E3E3E;

		}
		
		.span-navbar{
			color:rgb(72, 184, 208);
		}
		/*------------------------------END NAVBAR------------------------------*/
	
		/*------------------------------END HEADER------------------------------*/
		
		/*------------------------------FOOTER------------------------------*/
		footer{
			background-color: #222;
			color:white;
		}
		
		.lista{
			list-style: none;
			padding-left: 0px;
			margin-bottom: 0px;
		}

		.lista li{
			display: inline-block;
		}
		.lista li a{
			display: block;
			text-decoration: none;
			color:white;
			margin-right: 10px;
		}

		.lista li a h6{
			margin-bottom:0px; 
			color: #fff;
		}

		.CATEGORIAS_FOOTER{
		font-size:1.1rem;
		color: #fff;
		}

		.CATEGORIAS_FOOTER:hover{
        text-decoration: none;
		color: #fff;
		}

        .face{
        transition:all 0.5s;
        }
        .face:hover{
        color:#3b5998;
        }

        .instagram{
        transition:all 0.5s;
        }
        .instagram:hover{
        color:#ff0084;
        }

        .twitter{
        transition:all 0.5s;
        }
        .twitter:hover{
        color:#55acee;
        }

        .twitch{
        transition:all 0.5s;
        }
        .twitch:hover{
        color:#410093;
        }

        .youtube{
        transition:all 0.5s;
        }
        .youtube:hover{
        color:#bb0000;
        }


		/*------------------------------ END FOOTER------------------------------*/



         /*------------------------------ LISTAR------------------------------*/

        .productos_listar{
        transition:all 1s;
        }
        .productos_listar:hover{
        transform:scale(1.05);
        }
        /*------------------------------ END LISTAR------------------------------*/



		/*------------------------------Login------------------------------*/

        .div-radius{
        border-radius:20px;
        }
		/*------------------------------ END Login------------------------------*/

		/*------------------------------ PRODUCTOS------------------------------*/

		.font-cuerpo{
		font-size:12px;
		}

		.font-titulo{
		font-size:14px;
		}

		.font-precio{
		font-size:19px;
		}

        .card{
        transition:0.5s all;
        }

        .card:hover{
        transform:scale(1.03);
        }

        .Categorias{
        transition:0.5s all;
        }

        .Categorias:hover{
        transform:scale(1.05);
        box-shadow: -1px 7px 12px -5px #2196f3;
        font-weight:bold;
        }

		/*------------------------------ END PRODUCTOS------------------------------*/

		/*------------------------------ LOCALES------------------------------*/
		.div-local{
		transition:0.5s all;
		}
		.premium{
		transition:0.5s all;
		}

		.div-local:hover{
		transform:scale(1.03);
		}

		.premium:hover{
		transform:scale(1.1);
		}

		/*------------------------------END LOCALES------------------------------*/